<div class="quiz-question-link w-full">
    <div class="quiz-question py-3 px-3">
        <div class="grid grid-nogutter">
            <div class="col-2 text-xl font-semibold">
                1.
            </div>
            <div class="col-8 text-xl font-semibold">
                {{ my_question.question }}
            </div>
            <div class="col-2 text-xl font-semibold flex justify-content-end">
                <p-button (click)="showDialog()" icon="pi pi-eye" styleClass="button-delete"></p-button>
                <p-dialog 
                    header="Header" 
                    [(visible)]="visible" 
                    [modal]="true" 
                    [style]="{ width: '25rem' }" 
                    [breakpoints]="{ '1199px': '30vw', '575px': '90vw' }" 
                    [draggable]="false" 
                    [resizable]="false">
                    <ng-template pTemplate="header">
                            <div class="flex align-items-center justify-content-center w-full">
                                <div class="number">
                                    1
                                </div>
                            </div>
                      
                    </ng-template>

                    <div class="flex flex-column">
                        <div class="grid">
                           
                            <div class="col-12">
                                Question
                                <div class="text-xl border-1 border-round p-2">
                                    {{ my_question.question }}
                                </div>
                            </div>

                            <div class="col-12">
                                Réponse
                                <div class="text-xl border-1 border-round p-3 mb-2">
                                    {{ my_question.reponse[0] }}
                                </div>
                                <div class="text-xl border-1 border-round p-3 mb-2">
                                    {{ my_question.reponse[1] }}
                                </div>
                                <div *ngIf="my_question.type">
                                    <div class="text-xl border-1 border-round p-3 mb-2">
                                        {{ my_question.reponse[2] }}
                                    </div>
                                    <div class="text-xl border-1 border-round p-3">
                                        {{ my_question.reponse[3] }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <p-dropdown [options]="time" [(ngModel)]="selectedtime" (onChange)="onTimeChange($event)" optionLabel="time" class="align-self-end uppercase"></p-dropdown>
                                <p-dropdown [options]="point" [(ngModel)]="selectedpoint" (onChange)="onPointChange($event)" optionLabel="point" class="align-self-end uppercase ml-3"></p-dropdown>                
                            </div>
                        </div>
                    </div>  
                    
                    <ng-template pTemplate="footer">
                        <div class="flex justify-content-center">
                            <p-button (click)="saveModification()" label="Save" pAutoFocus [autofocus]="true" styleClass="bouton-save"></p-button>
                        </div>
                    </ng-template>
                </p-dialog>
   
                <p-button (onClick)="onDeleteQuestion()" icon="pi pi-times" severity="danger " styleClass="button-delete"/>
            </div>
            <div class="col-12 bg-blue">
                {{ my_question.reponse[0] }} , {{ my_question.reponse[1]}}...
            </div>
        </div>
    </div>
</div>