<div class="quiz-question-link w-full">
    <div class="quiz-question py-3 px-3">
        <div class="grid grid-nogutter">
            <div class="col-2 text-xl font-semibold">
                1.
            </div>
            <div class="col-8 text-xl font-semibold">
                {{ my_question.question }}
            </div>
            <div class="col-2 text-xl font-semibold flex justify-content-end">
                <p-button (onClick)="onDeleteQuestion()" icon="pi pi-times" severity="danger " styleClass="button-delete"/>
            </div>
            <div class="col-12 bg-blue">
                {{ my_question.reponse[0] }}
            </div>
        </div>
    </div>
</div>