<div class="flex flex-column w-full" id="previewSection">
    <p-card class="w-3 mb-4 pl-3">
        <div class="flex flex-column">
        <div class="flex flex-row justify-content-between mt-1">
            <div class="flex flex-column">
            <span style="font-size: 30px; font-weight: bold; margin-top: 5px;">Flashcard #1</span>
            <span>.................................................</span>
            </div>
            <button class="delete">×</button>
        </div>
        <span class="mt-2">Word</span>
        <span style="font-size: 30px; font-weight: bold;">Hello</span>
        <span class="mt-2">Translation</span>
        <span style="font-size: 30px; font-weight: bold;">Witaj</span>
        </div>
    </p-card>
</div>
