.main-div{
    height: 20rem;
    width: 10rem;
    cursor: pointer;
}

.image-set-flashcard{
    height: 7.5rem;
    width: 15rem;
    border-radius: 15%;
}

.text-flashcard{
    color: white;
}

.text-description{
    word-break: break-word;
}
