.stats-container {
    width: 20%;
    height: 80px;
    margin: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.stats-bar {
    height: 100%;
    background-color: #9468F1;
    transition: width 0.3s ease;
}