<div class="flex flex-column justify-content-center pt-7">
    <div class="global-container">
        <form [formGroup]="authForm" class="w-5">
            <div
                    class="block-auth border-round-right-xl w-full"
            >
                <div class="flex flex-column gap-2 px-6 py-7">
                    <div>
                        <h1 class="text-lg text-center main-title">
                            {{ 'app.welcome-back' | translate | ucFirst }} !
                        </h1>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="username">E-mail</label>
                        <input
                                id="username"
                                type="text"
                                pInputText
                                formControlName="email"
                        />
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="password">
                            {{ 'app.password' | translate | ucFirst }}
                        </label>
                        <input
                                id="password"
                                type="password"
                                pInputText
                                formControlName="password"
                        />
                    </div>
                    
                    <div class="w-full pt-5">
                        <p-button label="{{'app.signin' | translate | ucFirst}}"
                                  type="submit"
                                  (click)="login()" [disabled]="!authForm.valid">
                        </p-button>
                    </div>
                    
                    <div class="text-center">
                        <p>
                            {{ 'app.havent-account' | translate | ucFirst }} ?
                            <a (click)="redirectToRegister()">
                                {{ 'app.signup' | translate | ucFirst }}
                            </a>
                        </p>
                        <p>
                            {{ 'app.forgot-password' | translate | ucFirst }} ?
                            <a (click)="redirectToForgotPassword()">
                                {{ 'app.reset-password' | translate | ucFirst }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        <div class="w-8 image-container">
            <div class="flex flex-row justify-content-center">
                <img src="../../../../assets/images/login_image.png"/>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
