<div>
  <div class="flex flex-column lg:flex-row lg:justify-content-start py-2 welcome-container">
    <span class="welcome-message pl-3 lg:pl-7 font-medium">
      Join us and start to boost your learning !
    </span>
  </div>

  <div class="flex flex-row justify-content-between">
    <div class="flex flex-column pl-8 py-5">
      <span class="slogan-home text-7xl font-medium">
        Have fun while learning with AnswerZ
      </span>
      <span class="info-home text-4xl py-3 font-semibold">
        Free app for everyone
      </span>
      <div class="flex flex-row py-4">
        <p-button class="home-button1" label="Get Started"></p-button>
        <p-button class="pl-5" label="Learn More"></p-button>
      </div>

      <div class="flex flex-row py-4 pr-7 justify-content-between">
        <div class="flex flex-column message-home align-items-center">
          <span class="text-5xl font-semibold stats-number-home">
            100K+
          </span>
          <span class="text-3xl">
            Students
          </span>
        </div>

        <div class="flex flex-column message-home align-items-center">
          <span class="text-5xl font-semibold stats-number-home">
            1K+
          </span>
          <span class="text-3xl">
            Flashcards
          </span>
        </div>

        <div class="flex flex-column message-home align-items-center">
          <span class="text-5xl font-semibold stats-number-home">
            100+
          </span>
          <span class="text-3xl">
            Countries
          </span>
        </div>
        
      </div>
      
    </div>
    
    <div class="flex flex-column pt-2 pr-3 image-container">
      <img src="../../../../assets/images/logo_home.svg"/>
    </div>    
  </div>

  <div class="flex flex-column search-courses align-items-center w-full">
    <div class="flex flex-row justify-content-center py-5 w-full">
        <span class="p-input-icon-left p-float-label w-6">
          <i class="pi pi-search search-bar-home-color text-xl"></i>
          <input id="searchbar-home" class="p-inputtext-lg search-input w-full" type="text" pInputText/>
          <label class="search-bar-home-color search-bar-text text-xl" htmlFor="searchbar-home">Search for what you want to learn</label>
        </span>
    </div>
    <div>
      <app-flashcards-set image="../../../../assets/images/carte.PNG" description="Here's a tuto on how to loose $1000 dollars on BlackJack" title="How to win a BlackJack game"></app-flashcards-set>
    </div>
  </div>
</div>
