<div>
  <div class="flex flex-column lg:flex-row lg:justify-content-start py-2 welcome-container">
    <h1 class="welcome-message pl-2 lg:pl-7 font-medium">
      Join us and start to boost your learning !
    </h1>
  </div>

  <div class="flex flex-row justify-content-center lg:justify-content-between">
    <div class="flex flex-column w-full py-2 lg:pl-8 lg:py-5">
      <span class="slogan-home font-medium text-5xl pl-3 lg:text-7xl">
        Have fun while learning with AnswerZ
      </span>
      <span class="info-home text-2xl py-3 font-semibold pl-3 lg:text-4xl">
        Free app for everyone
      </span>
      <div class="flex flex-row py-1 justify-content-center lg:justify-content-start lg:py-4">
        <p-button (click)="redirectToLoginPage()" class="home-button1" label="Get Started"></p-button>
        <p-button (click)="redirectToGithubPage()" class="pl-5" label="Learn More"></p-button>
      </div>

      <div class="flex flex-row py-4 px-2 justify-content-between lg:pr-7">
        <div class="flex flex-column message-home align-items-center">
          <span class="text-3xl font-semibold stats-number-home lg:text-5xl">
            100K+
          </span>
          <span class="text-xl lg:text-3xl">
            Students
          </span>
        </div>

        <div class="flex flex-column message-home align-items-center">
          <span class="text-3xl font-semibold stats-number-home lg:text-5xl">
            1K+
          </span>
          <span class="text-xl lg:text-3xl">
            Flashcards
          </span>
        </div>

        <div class="flex flex-column message-home align-items-center">
          <span class="text-3xl font-semibold stats-number-home lg:text-5xl">
            100+
          </span>
          <span class="text-xl lg:text-3xl">
            Countries
          </span>
        </div>

      </div>

    </div>

    <div class="hidden lg:flex lg:flex-column lg:pt-2 lg:pr-3 image-container lg:block">
      <img src="../../../../assets/images/logo_home.svg" class="hidden lg:block"/>
    </div>
  </div>

  <div class="flex flex-column search-courses align-items-center w-full">
    <div class="flex flex-row justify-content-center pt-5 pb-2 lg:py-5 w-full">
      <span class="p-input-icon-left p-float-label lg:w-6">
        <i class="pi pi-search search-bar-home-color lg:text-xl"></i>
        <input id="searchbar-home" class="p-inputtext-lg search-input w-full" type="text" pInputText />
        <label class="search-bar-home-color search-bar-text-small lg:search-bar-text lg:text-xl" htmlFor="searchbar-home">
          Search for what you want to learn
        </label>
      </span>
    </div>

    <div *ngFor="let flashcard of tabCardSet">
      <app-flashcards-set image="../../../../assets/images/carte.PNG"
        description=flashcard.description title={{flashcard.title}}></app-flashcards-set>
    </div>

    <div class="flex flex-column py-3 align-items-center">
      <span class="text-3xl font-semibold explore-set py-3" style="color: white;">
        Explore More
      </span>
      <p-button icon="pi pi-plus text-xl" (click)="redirectToAllCardsetPublic()"></p-button>
    </div>
  </div>


  <div class="flex flex-row py-5">
    <div class="flex flex-column lg:pl-5">
      <span class="features-home font-medium text-5xl pl-5">
        Features
      </span>
      <span class="info-home py-3 text-2xl pl-5 lg:font-semibold">
        Discover the benefits of our platform
      </span>

      <div class="flex lg:flex-row justify-content-center">
        <div class="lg:w-8 px-5">
          <div class="grid-container py-4">
            <div class="flex lg:flex-row justify-content-center w-full features-box py-2 mb-5">
              <div class="flex flex-column w-10 py-2">
                <div class="flex flex-row feature-icon p-3 logo-container">
                  <span class="material-symbols-outlined text-5xl" style="color: white">thumb_up</span>
                </div>

                <span class="features-home text-2xl font-medium pt-2">
                  Relaxing and Learning
                </span>
                <span class="info-home py-3 w-full">
                  Resources and tools that help students relax and reduce stress, while enhancing learning.
                </span>

                <p-button class="py-2" (click)="redirectToGithubPage()" label="Read More"></p-button>
              </div>
            </div>
            <div class="flex flex-row justify-content-center w-full features-box py-2 mb-5">
              <div class="flex flex-column w-10 py-2">
                <div class="flex flex-row feature-icon p-3 logo-container">
                  <span class="material-symbols-outlined text-5xl" style="color: white">editor_choice</span>
                </div>

                <span class="features-home text-2xl font-medium pt-2">
                  Certificates
                </span>
                <span class="info-home py-3 w-full">
                  Section highlighting various academic and professional certificates and their requirements and benefits.
                </span>

                <p-button class="py-2" (click)="redirectToGithubPage()" label="Read More"></p-button>
              </div>
            </div>
            <div class="flex flex-row justify-content-center w-full features-box py-2 mb-5">
              <div class="flex flex-column w-10 py-2">
                <div class="flex flex-row feature-icon p-3 logo-container">
                  <span class="material-symbols-outlined text-5xl" style="color: white">emoji_objects</span>
                </div>

                <span class="features-home text-2xl font-medium pt-2">
                  Creative Thinking
                </span>
                <span class="info-home py-3 w-full">
                  Information on courses, programs, and resources for students to develop their creative skills.
                </span>

                <p-button class="py-2" (click)="redirectToGithubPage()" label="Read More"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>