<div class="flex flex-column px-5 py-5 md:px-auto  pl-5">
    <span class="create-question font-medium text-4xl">
        Create question
    </span>
    <div class="flex flex-column px-3 py-3">
        <div class="flex flex-row">
            <div class="flex flex-column input-question-compo w-4">
                <span class="create-question font-medium text-2xl">
                    Question
                </span>
                
                <input class="input-question" type="text" pInputText [(ngModel)]="input_question" placeholder="Enter a question"/>

            </div>
            <div class="flex flex-row ml-auto justify-content-between w-5">
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="timeChoices" optionLabel="duration" placeholder="Time" [(ngModel)]="myTime"></p-dropdown>
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="pointsChoices" optionLabel="points" placeholder="Points" [(ngModel)]="myPoints"></p-dropdown>
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="typeChoices" optionLabel="type" placeholder="Type" [(ngModel)]="myChoice"></p-dropdown>
            </div>
        </div>
        <div class="flex flex-column pt-8">
            <div *ngIf="myChoice && myChoice.type === 'MCQ'" class="flex flex-column">
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="NOQChoices" optionLabel="number" placeholder="Number of questions" [(ngModel)]="myNOQ" inputId="float-label"></p-dropdown>
                <div class="flex flex-wrap pt-6 justify-content-between">
                    <div *ngFor="let i of [].constructor(myNOQ && myNOQ.number && myNOQ.number > 2 ? myNOQ.number : 2); let j = index" class="pb-5">
                        <input type="text" pInputText [(ngModel)]="list_answers[j]" pInputText placeholder="Option {{ j + 1 }}" class="noq-input" />
                    </div>
                </div>
            </div>
            <div *ngIf="myChoice && myChoice.type === 'True/False'" class="flex justify-content-center">
                <div class="flex flex-row justify-content-between w-7">
                    <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="true_value" placeholder="True" class="true-false-input"/>
                    <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="false_value" placeholder="False" class="true-false-input"/>
                </div>
            </div>
        </div>
        <div class="flex flex-column align-items-center py-5">
            <p-button (click)="createQuestion()" class="submit-button" label="Submit"></p-button>
        </div>
    </div>
</div>