<div class="flex flex-column px-5 py-5 md:px-auto  pl-5">
    <span class="create-question font-medium text-4xl">
        Create question
    </span>
    <div class="flex flex-column px-3 py-3">
        <div class="flex lg:flex-row flex-column">
            <div class="flex flex-column lg:input-question-compo w-9 lg:w-4">
                <span class="create-question font-medium text-2xl">
                    Question
                </span>
                
                <input class="input-question" type="text" pInputText [(ngModel)]="input_question" placeholder="Enter a question"/>

            </div>
            <div class="flex md:flex-row flex-column lg:ml-auto pt-5 md:justify-content-between w-8 lg:w-5">
                <p-dropdown class="text-sm py-2 md:text-lg w-1rem md:w-7rem" [options]="timeChoices" optionLabel="duration" placeholder="Time" [(ngModel)]="myTime"></p-dropdown>
                <p-dropdown class="text-sm py-2 md:text-lg w-1rem md:w-7rem" [options]="pointsChoices" optionLabel="points" placeholder="Points" [(ngModel)]="myPoints"></p-dropdown>
                <p-dropdown class="text-sm py-2 md:text-lg w-1rem md:w-7rem" [options]="typeChoices" optionLabel="type" placeholder="Type" [(ngModel)]="myChoice"></p-dropdown>
            </div>
        </div>
        <div class="flex flex-column pt-8">
            <div *ngIf="myChoice && myChoice.type === QuestionTypeEnum.QCM" class="flex flex-column">
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="NOQChoices" optionLabel="number" placeholder="Number of questions" [(ngModel)]="myNOQ" inputId="float-label"></p-dropdown>
                <div class="flex flex-wrap pt-6 md:gap-7 justify-content-around">
                    <div *ngFor="let _ of numberOfOptions; let j = index" class="pb-5">
                        <input type="text" [(ngModel)]="list_answers[j]" pInputText placeholder="Option {{ j + 1 }}" class="noq-input" />
                    </div>
                </div>
            </div>
            <div *ngIf="myChoice && myChoice.type === QuestionTypeEnum.BOOLEAN" class="flex justify-content-center">
                <div class="flex md:flex-row flex-column md:justify-content-between w-auto lg:w-7">
                    <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="true_value" placeholder="True" class="true-false-input"/>
                    <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="false_value" placeholder="False" class="true-false-input"/>
                </div>
            </div>
        </div>
        <div class="flex flex-column align-items-center py-5">
            <p-button (click)="createQuestion()" class="submit-button" label="Submit"></p-button>
        </div>
    </div>
</div>