<div class="flex flex-column px-5 py-5 md:px-auto  pl-5">
    <span class="create-question font-medium text-4xl">
        Create question
    </span>
    <div class="flex flex-column px-3 py-3">
        <div class="flex flex-row">
            <div class="flex flex-column input-question-compo w-4">
                <span class="create-question font-medium text-2xl">
                    Question
                </span>
                
                <input class="input-question" type="text" pInputText [(ngModel)]="e_value" placeholder="Enter a question"/>
            </div>
            <div class="flex flex-row ml-auto justify-content-between w-5">
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="timeChoices" optionLabel="duration" placeholder="Time" [(ngModel)]="myTime"></p-dropdown>
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="pointsChoices" optionLabel="points" placeholder="Points" [(ngModel)]="myPoints"></p-dropdown>
                <p-dropdown class="text-sm md:text-lg w-1rem md:w-7rem" [options]="typeChoices" optionLabel="type" placeholder="Type" [(ngModel)]="myChoice"></p-dropdown>
            </div>
        </div>
        <div class="flex flex-column">
            <div *ngIf="myChoice && myChoice.type === 'MCQ'">
                <span class="font-medium text-xl">Options QCM</span>
                <input type="text" pInputText placeholder="Option 1"/>
                <input type="text" pInputText placeholder="Option 2"/>
                <input type="text" pInputText placeholder="Option 3"/>
                <input type="text" pInputText placeholder="Option 4"/>
            </div>
            <div *ngIf="myChoice && myChoice.type === 'True/False'">
                <span class="font-medium text-xl">Options True/False</span>
                <div class="flex flex-row justify-content-between w-9">
                    <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="e_value" placeholder="True" />
                    <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="e_value" placeholder="False" />
                </div>
            </div>
        </div>
        <div class="flex flex-column align-items-center py-5">
            <p-button (click)="createQuestion()" class="submit-button" label="Submit"></p-button>
        </div>
    </div>
</div>