.title {
    color: #9468F1;
}

label {
    color: #9468F1;
    opacity: 77%;
}

.ImageUpload{
    cursor: pointer;
}

#block {
    background-color: rgba(148,104,241,0.2);
    color: rgba(148,104,241,0.77);
    border: #9468F1;
    height: 45px;
    text-indent: 2rem;
}

input::placeholder {
    color: rgba(148,104,241,0.77);
}

.description {
    min-height: 13rem;
    color: rgba(148,104,241,0.77);
}

:host ::ng-deep {
    .p-dropdown {
        background-color: #9468F1;
        border: #9468F1;
        border-radius: 10px;
    }

    .p-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(148,104,241,0.77);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        height: 100%;
    }

    .p-card .p-card-body {
        padding-top: 0;
    }

    .p-card .p-card-content {
        padding: 0;
    }

    .custom-card .p-card {
        background: rgba(148,104,241,0.2);
        padding-top: 0;
    }

    .p-dropdown-label, .p-dropdown-trigger-icon {
        color: white;
    }

    .button-add > .p-button {
        background-color: #9468F1;
        border: 1px solid #9468F1;
        border-radius: 15px;
        font-weight: 550;
        justify-content: center;
    }

    .right-side {
        .p-button {
            background-color: white;
            border: 3px solid #9468F1;
            color: #9468F1;
            //width: 100%;
            justify-content: center;
            font-weight: bold;
        }
       // width: 40%;
    }
}