<div class="flex flex-column px-5 md:px-auto">
    <div class="flex-1 flex flex-column md:flex-row md:align-items-center justify-content-between pt-3 md:mr-5 gap-2 md:gap-0">
      <ng-container *ngIf="title" [ngTemplateOutlet]="title.template" class="text-5xl md:text-6xl"></ng-container>
    </div>
    <div class="pt-5">
      <form [formGroup]="cardsetsService.cardsetForm" (ngSubmit)="onSubmitCardset()">
        <p-card>
          <div class="flex md:flex-row flex-column md:align-self-auto align-self-center gap-6 w-full">
            <div class="flex md:w-4 w-full">
              <p-card class="flex flex-column w-full mt-5" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                <div class="flex flex-column align-items-center">
                  <label for="input-file" class="flex flex-column align-items-center gap-2 pt-3">
                    <input id="input-file" type="file" accept=".png, .jpg, .gif" class="opacity-0 hidden" (change)="handleFileInput($event)"/>
                    <img *ngIf="!cardsetId" [src]="imageUpload" alt="ImageUpload" class="w-10 h-full border-round-2xl max-h-15rem ImageUpload"/>
                    <img *ngIf="cardsetId !== null && cardsetId !== undefined && imageUrl !== ''" [src]="imageUrl" alt="ImageUpload" class="w-10 h-full border-round-2xl max-h-15rem ImageUpload"/>
                    <div class="flex flex-column text-center md:text-auto gap-2">
                      <span class="font-bold block text-sm md:text-lg align-self-auto md:align-self-center">Upload an image</span>
                      <span class="text-sm md:text-lg">or drag and drop PNG, JPG, GIF up to 25Mo</span>
                    </div>
                  </label>
                </div>
              </p-card>
            </div>
          
            <div class="flex flex-column w-full md:pt-4 pt-0">
              <div class="flex justify-content-between">
                <p-dropdown formControlName="selectedCategory" [options]="modesCategorie" optionLabel="name" placeholder="CATEGORIES"></p-dropdown>
                <p-dropdown formControlName="selectedVisibility" [options]="modesVisibilite" optionLabel="name" value="Public" placeholder="Public"></p-dropdown>
              </div>
              <div class="pt-3">
                <label for="blockChars" class="font-bold block mb-2"> Name </label>
                <input pInputText id="block" formControlName="name" [pKeyFilter]="blockChars" class="w-full border-round-xl mb-2" placeholder="Name"/>
                <label for="blockChars" class="font-bold block mb-2"> Description </label>
                <textarea pInputTextarea id="block" formControlName="description" [pKeyFilter]="blockChars" class="w-full p-3 border-round-xl mb-4 description" placeholder="Description"></textarea>
              </div>
              <div class="flex flex-row justify-content-center w-full">
                <ng-container *ngIf="button" [ngTemplateOutlet]="button.template"></ng-container>
              </div>
            </div>
          </div>
        </p-card>
      </form>
    </div>
</div>

