.game-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#flipContainer{
    animation-duration: 1000ms;
    animation-timing-function: ease;
}

:host ::ng-deep {
    button{
        border: 1px solid var(--primary);
        outline-color: var(--primary);
    }
}

.card-container{
    display: flex;
}

.game-description{
    width: 50%;
    height: 100%;
}

.joining-method{
    width: 50%;
    height: 100%;
}

.description-card{
    border: 1px solid #f0f0f0;
    background-color: #EEEEEE;
    padding: 0.5rem;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


h2{
    color: #9468F1;
}



.loader {
    height: 20px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side,#9468F1 90%,#0000);
    background:var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear; 
    margin-left: 15px;
  }
  @keyframes l43 {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  }



.spinner {
    position: absolute;
    width: 11.2px;
    height: 11.2px;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 rgba(148,104,241,0.2), 22.7px 16.5px 0 0 rgba(148,104,241,0.4), 8.68px 26.6px 0 0 rgba(148,104,241,0.6), -8.68px 26.6px 0 0 rgba(148,104,241,0.8), -22.7px 16.5px 0 0 #9468f1;
    animation: spinner-b87k6z 1.4s infinite linear;
 }
 
 @keyframes spinner-b87k6z {
    to {
       transform: rotate(360deg);
    }
 }


.spinner-container{
    margin-top: 3%;
    padding: 0;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.spinner-text{
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #9468F1;
}