<app-generic-flashcard>
    <ng-template pTemplate="title">
        <div>
            <span class="title font-bold opacity-70 text-md md:text-6xl">Edit your flashcard set</span>
            <i class="pi pi-pencil text-lg md:text-6xl ml-2" style="color: #9468F1;"></i>
        </div>
    </ng-template>
    <ng-template pTemplate="button">
      <p-button class="flex flex-column w-full md:w-6 button-create" styleClass="text-xl md:text-4xl lg:text-6xl">SAVE MODIFICATIONS</p-button>
  </ng-template>
</app-generic-flashcard>