.profil{
    width: 90%;
    margin: auto;
    height: 100%;
    color: #9468F1;

    .head-container{
        background-color: rgba(148,104,241,1);
        color: black;
        border-radius: 10px;
        padding: 1rem 2rem;
    }

    .p-circle {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color:#d1d1d1;
        color: black;
    }

}

// To override the default primeng styles
:host ::ng-deep {
    .p-button {
        border-radius: 40px;
        background-color: rgba(148,104,241,1);
        border: 1px solid white;
    }

    .p-avatar {
        width: 6rem !important;
        height: 6rem !important;
    }
}