<div class="profil">
    <h1>
        {{ 'app.my-profile' | translate | ucFirst }}
    </h1>
    <div class="flex flex-column gap-2 head-container">
        <div class="flex flex-row gap-3 align-items-center">
            <div>
                <p-avatar
                    *ngIf="profilePicture; else noProfilePicture"
                    [image]="profilePicture" styleClass="my-2"
                    size="xlarge" shape="circle"></p-avatar>
                <ng-template #noProfilePicture>
                    <p-avatar icon="pi pi-user" styleClass="my-2" size="xlarge"
                              shape="circle"></p-avatar>
                </ng-template>
            </div>
            <div class="flex flex-row w-full align-items-start">
                <div class="flex flex-column gap-1 w-full text-white md:align-items-left md:w-4">
                    <div class="text-xl font-bold">
                    <span>
                        {{securityService.user?.displayName}}
                    </span>
                    </div>
                    <div class="flex flex-column md:flex-row gap-1">
                        <span>
                            {{securityService.user?.numberOfFlashcards}} flashcards
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row" [ngClass]="editMode ? 'justify-content-between' : 'justify-content-end'">
            
            <div *ngIf="editMode" class="flex flex-row gap-2">
                <p-fileUpload
                    method="post"
                    accept="image/*"
                    (onSelect)="uploadProfilePicture($event)"
                    chooseLabel="{{ 'app.choose-file' | translate | ucFirst }}"
                    mode="basic"
                />
                <form [formGroup]="formLanguage">
                    <p-dropdown
                        formControlName="language"
                        [options]="languages"
                        optionLabel="label"
                        optionValue="code"
                        placeholder="Select your language"/>
                </form>
            </div>
            <p-button
                [label]="editMode ?
                    ('app.save' | translate | ucFirst)
                    : ('app.edit' | translate | ucFirst)
                "
                severity="help"
                (onClick)="redirectToEditMode()"
            />
        </div>
    </div>
    
    <div class="flex flex-column lg:flex-row mt-5">
        <div class="w-12 lg:w-6 lg:border-right-1 lg:border-500 px-2 lg:px-5 lg:py-3">
            <h3>
                {{ 'app.friends' | translate | ucFirst }}
            </h3>
            <div class="flex flex-row justify-content-between flex-wrap">
                <p-avatar
                    styleClass="mr-2 mb-3 custom-large-avatar" size="xlarge" shape="circle"></p-avatar>
                <p-avatar
                    styleClass="mr-2 mb-3 custom-large-avatar" size="xlarge" shape="circle"></p-avatar>
                <p-avatar
                    styleClass="mr-2 mb-3 custom-large-avatar" size="xlarge" shape="circle"></p-avatar>
                <p-avatar
                    styleClass="mr-2 mb-3 custom-large-avatar" size="xlarge" shape="circle"></p-avatar>
            </div>
            <div class="text-center p-3">
                <a>
                    {{ 'app.see-my-friends' | translate | ucFirst }}
                </a>
            </div>
            <div>
                <h3>
                    {{ 'app.recent-activity' | translate | ucFirst }}
                </h3>
                <div class="w-100 p-8 bg-blue-200">
                
                </div>
            </div>
        
        </div>
        <div class="w-12 lg:w-6 px-2 py-2 lg:px-5 lg:py-3">
            <h3>Stats</h3>
            <div class="w-100 p-8 bg-green-200">
            </div>
            <div class="flex flex-row justify-content-center mt-4 flex-wrap">
                <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>



  
