<div class="profil">
    <h1>My profile</h1>
    <div class="flex flex-column">
        <div class="first-container p-4">
            first
        </div>
        <div class="second-container p-4">
            second
        </div>
    </div>  

    <div class="flex flex-row mt-5">
        <div class="w-6 bg-indigo-300 px-3">
            <h3>Friends</h3>
            <div class="flex flex-row justify-content-between">
                <div class="p-circle flex align-items-center justify-content-center">
                    1
                </div>
                <div class="p-circle flex align-items-center justify-content-center">
                    1
                </div>
                <div class="p-circle flex align-items-center justify-content-center">
                    1
                </div>
                <div class="p-circle flex align-items-center justify-content-center">
                    1
                </div>
                <div class="p-circle flex align-items-center justify-content-center">
                    1
                </div>
                <div class="p-circle flex align-items-center justify-content-center">
                    1
                </div>
            </div>
            <div class="text-center p-3">
                <a>see all friends</a>
            </div>
    
        </div>
        <div class="w-6 bg-blue-200 pl-3">
            <h3>Stats</h3>
        </div>
    </div>
</div>