:host ::ng-deep {

    .p-button {
        border-radius: 50px;
        background-color: #8A61E0;
        color: white;
        border: #8A61E0;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .section__reponse{
        background-color: #8A61E0;
        color: white;
        border: 1px solid black;
    }

}