<!-- <div *ngFor="let cardset of listCardset">
    <div class="h-10rem w-8 bg-blue-200 border-1 border-blue-500 flex flex-column">
        <h3>{{ cardset.Name }}</h3>
        <div>
            {{ cardset.description }}
        </div>
    </div>
</div> -->
<div class="flex flex-column p-8">

    <div class="flex flex-row justify-content-between mb-4">
        <div class="w-7 section__input-search">
            <span class="p-fluid p-float-label">
                <p-autoComplete [(ngModel)]="selectedItems" [suggestions]="items" (completeMethod)="filterCountry()" [multiple]="true"></p-autoComplete>
                <label for="float-label label-search">
                    <i class="pi pi-search mr-2"></i>
                    Search for what you want to learn</label>
            </span>
            <!-- <span class="p-input-icon-left w-10">
                <i class="pi pi-search"></i>
                <p-autoComplete [(ngModel)]="selectedItems" [suggestions]="items" (completeMethod)="filterCountry()" [multiple]="true"></p-autoComplete>
            </span> -->
        </div>
        <div class="">
            <p-dropdown [options]="categories" [(ngModel)]="selectedCategories" optionLabel="name" value="All"></p-dropdown>
        </div>
    </div>

    <div class="shadow-6 p-4 border-round-2xl border-ra flex-column mb-5">
        <div class="title mb-3">Mathématique</div>
        <div class="flex flex-row">
            <div *ngFor="let cardset of listCardset">
                <app-search-cardset></app-search-cardset>
            </div>
        </div>
    </div>

    <div class="shadow-6 p-4 border-round-2xl border-ra flex-column">
        <div class="title mb-3">Physique</div>
        <div class="flex flex-row">
            <div *ngFor="let cardset of listCardset">
                <app-search-cardset></app-search-cardset>
            </div>
        </div>
    </div>
    
</div>