body {
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    background-color: rgba(148,104,241,1);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10vh;
}

.logo-title-container {
    display: flex;
    align-items: center;
}

header img {
    max-width: 75px;
    height: auto;
    margin-right: 20px;
}

h2 {
    color: white;
    font-weight: bold;
}

:host ::ng-deep {
    .p-button {
        border-radius: 40px;
        background-color: white;
        color: rgba(148,104,241,1);
        border: rgba(148,104,241,1);
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stack items for small screens*/
        text-align: center; /* Center the text */
    }
    header img {
        margin-right: 0; /* Delete the margin on the right for small screens */
        margin-bottom: 10px; /* Space between the logo and the title */
    }
}
