.title {
    font-size: 3rem;
    font-weight: bold;
    color: #9468F1;
}

.theme {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(148,104,241,0.77);
}

.progress-container {
    width: 85%;
    height: 20px;
    margin: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #9468F1;
    transition: width 0.1s ease-in-out;
}

.hide-button {
    display: none;
}

:host::ng-deep {

    .p-card {
        background-color: #9468F1;
    }

    .p-card-header {
        padding: 0.5rem;
    }

    .p-card-content {
        padding: 0;
    }

    .p-card-body {
        display: flex;
        justify-content: center;
        height: 100px;
        padding: 0.5rem;
    }
}
