<div class="flex flex-column justify-content-center pt-7">
    <div class="global-container">
        <div class="picture-container">
            <img class="w-full h-full" src="../../../../assets/images/register.png" height="1139" width="1120"/>
        </div>
        <form [formGroup]="authForm">
            <div
                    class="block-auth border-round-left-xl w-full"
            >
                <div class="flex flex-column gap-2 px-6 py-7">
                    <div>
                        <h1 class="text-lg text-center main-title">
                            {{ 'app.welcome' | translate | ucFirst }} !
                        </h1>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="firstname">
                            {{ 'app.firstName' | translate | ucFirst }}
                        </label>
                        <input
                                id="firstname"
                                type="text"
                                pInputText
                                formControlName="firstName"
                        />
                        <small *ngIf="
                            authForm.get('firstName')?.value !== null
                             && authForm.get('firstName')?.hasError('required')">
                            <span class="text-red-500">
                                {{ 'app.firstName' | translate | ucFirst }} is required
                            </span>
                        </small>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="lastName">
                            {{ 'app.lastName' | translate | ucFirst }}
                        </label>
                        <input
                            id="lastName"
                            type="text"
                            pInputText
                            formControlName="lastName"
                        />
                        <small *ngIf="
                            authForm.get('lastName')?.value !== null
                             && authForm.get('lastName')?.hasError('required')">
                            <span class="text-red-500">
                                {{ 'app.lastName' | translate | ucFirst }} is required
                            </span>
                        </small>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="username">
                            {{ 'app.username' | translate | ucFirst }}
                        </label>
                        <input
                                id="username"
                                type="text"
                                pInputText
                                formControlName="username"
                        />
                        <small *ngIf="
                            authForm.get('username')?.value !== null
                             && authForm.get('username')?.hasError('required')">
                            <span class="text-red-500" >
                                {{ 'app.username' | translate | ucFirst }} is required
                            </span>
                        </small>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="email">Email</label>
                        <input
                                id="email"
                                type="email"
                                pInputText
                                formControlName="email"
                        />
                        <small  *ngIf="
                            authForm.get('email')?.value !== null
                             && authForm.get('email')?.hasError('required')">
                            <span class="text-red-500">
                                Email is required
                            </span>
                        </small>
                        <small *ngIf="
                            authForm.get('email')?.value !== null
                             && authForm.get('email')?.hasError('email')">
                            <span class="text-red-500">
                                Format incorrect
                            </span>
                        </small>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="password">
                            {{ 'app.password' | translate | ucFirst }}
                        </label>
                        <input
                                id="password"
                                type="password"
                                pInputText
                                formControlName="password"
                        />
                        <small *ngIf="
                            authForm.get('password')?.value !== null
                             && authForm.get('password')?.hasError('required')">
                            <span class="text-red-500" >
                                {{ 'app.password' | translate | ucFirst }} is required
                            </span>
                        </small>
                        <small *ngIf="
                            authForm.get('password')?.value !== null
                             && authForm.get('password')?.hasError('minLength')">
                            <span class="text-red-500" >
                                {{ 'app.password' | translate | ucFirst }} is required
                            </span>
                        </small>
                    </div>
                    
                    <div class="flex flex-column gap-2">
                        <label class="text-xs" for="confirm-password">
                            {{ 'app.confirm-password' | translate | ucFirst }}
                        </label>
                        <input
                                id="confirm-password"
                                type="password"
                                pInputText
                                formControlName="confirmPassword"
                        />
                        <small *ngIf="
                        authForm.get('confirmPassword')?.value !== null
                        && authForm.get('confirmPassword')?.hasError('required')">
                            <span class="text-red-500" >
                                {{ 'app.confirm-password' | translate | ucFirst }} is required
                            </span>
                        </small>
                    </div>
                    
                    <div class="w-full pt-5">
                        <p-button [label]="'app.signup' | translate | ucFirst"
                                  type="submit"
                                  [disabled]="!authForm.valid"
                                  (onClick)="register()"
                        >
                        </p-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p-toast></p-toast>
