<div *ngIf="roomInfo">
  <div *ngIf="!stats">
    <div class="flex flex-column mt-5 ml-5">
      <span class="title">{{ roomInfo?.game?.title }}</span>
    <span class="theme">Theme: History</span>
  </div>
  <div class="flex flex-row gap-2 align-items-center">
    <div class="progress-container">
        <div class="progress-bar" [style.width.%]="progressPercentage"></div>
    </div>
    <div class="flex flex-column align-items-center">
        <i class="pi pi-stopwatch" style="font-size: 36px; color: #9468F1;"></i>
        <span style="font-weight: bold; color: rgba(148,104,241,0.77);">{{ totalTimeInSeconds }} seconds left</span>
    </div>
  </div>
  <div class="mt-3 ml-5 mr-5">
    <p-card>
        <ng-template pTemplate="header">
            <div style="display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: #AC91E4; width: 55px; height: 55px;">
                <span style="font-size: 18px; color: white;">1/20</span>
            </div>
        </ng-template>
        <div class="flex justify-content-center align-items-center" *ngIf="question$ | async as question">
            <span class="text-0 text-4xl font-bold">{{ question.question }}</span>
        </div>
    </p-card>
  </div>
  <div *ngIf="roomInfo">
    <div class="flex flex-row flex-wrap justify-content-center m-5 gap-5">
      <app-quiz-answer *ngFor="let answer of (question$ | async)?.answers" [answer]="answer" (click)="selectAnswer(answer)"></app-quiz-answer>
    </div>
  </div>
  </div>
  <div *ngIf="stats">
    <div class="flex flex-column ml-5 mt-5" >
      <span class="text-4xl">Question :</span>
      <span class="text-2xl">{{ (question$ | async)?.question }}</span>
    </div>
    <div class="flex flex-column m-0" *ngFor="let numberAnswer of (question$ | async)?.answers; let i = index">
      <app-stats-game [statsPercentage]="statsPercentage" [answers]="globalAnswersStats" [index]="i"></app-stats-game>
    </div>
  </div>
</div>
<div *ngIf="!roomInfo" class="game-container">
  <h1>BAD ID</h1>
</div>