#flipContainer{
    animation-duration: 1000ms;
    animation-timing-function: ease;
}

:host ::ng-deep {
    button{
        border: 1px solid var(--primary);
        outline-color: var(--primary);
    }
}