.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .top {
    width: 100%;
    padding: 10px;
    height: 25vh;
    text-align: left;
  }
  
  .additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  
  .additional-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .additional-buttons button {
    margin-right: 10px;
  }
  
  .flashcard {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 4px solid #9468F1;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  
  .flashcard-bottom {
    position: absolute;
    bottom: 0;
    height: 10%;
    background-color: #9468F1;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
  }
