<app-generic-flashcard>
    <ng-template pTemplate="title">
        <div>
            <span class="title font-bold opacity-70 text-2xl md:text-6xl">Edit your flashcard set</span>
            <i class="pi pi-pencil opacity-70 text-2xl md:text-6xl ml-3" style="color: #9468F1;"></i>
        </div>
    </ng-template>
    <ng-template pTemplate="button">
      <p-button type="submit" class="flex flex-column w-full lg:w-6 button-create" styleClass="text-xl md:text-2xl lg:text-3xl">SAVE MODIFICATIONS</p-button>
  </ng-template>
</app-generic-flashcard>