<div class="flex flex-column justify-content-center pt-7">
    <div class="flex flex-row">
  
            <div class="text-center"></div>
            <div class="flex flex-row justify-content-center gap-2">
              <i class="pi pi-google text-xl"></i>
              <i class="pi pi-github text-xl"></i>
              <i class="pi pi-facebook text-xl"></i>
            </div>
    </div>
</div>
<div class="w-8">
    <div class="flex flex-row justify-content-center">
        <img src="../../../../assets/images/login_image.png" />
    </div>
</div>