@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:host ::ng-deep {
    .p-button {
        border-radius: 40px;
        background-color: transparent;
        color: #8A61E0;
        border: 1px solid #8A61E0;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
        font-family: 'Montserrat', sans-serif;
    }

 
    .home-button1 {
        button {
            background-color: #8A61E0;
            color: white;
        }
    }

}

.reset-pwd{
    color: #9468F1;
}

.left-side-div{
    background-color: #F1F1F1;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

a {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-forgot-pwd{
    font-family: 'Montserrat', sans-serif;
}

.line-style{
    border-bottom: 1px solid black;
}

.div-form-reset{
    margin-top: -65%;
}