<div class="flex flex-row">
    <div class="flex flex-column pb-5 mt-4 left-side-div justify-content-center px-7">
        <div class="flex flex-row justify-content-center p-5">
            <span class="reset-pwd font-semibold text-xl">
                Reset your password
            </span>
        </div>

        <div class="flex flex-column justify-content-center">
            <img class="w-11 h-11" src="../../../../assets/images/form-fgt-pwd.svg" />
            <div class="flex flex-column div-form-reset align-items-center">
                <span class="text-xl text-forgot-pwd">
                    Forgot password ?
                </span>
                <div class="line-style w-8 pt-2"></div>
                <div class="line-style w-5 pt-2"></div>

                <span class="p-input-icon-left pt-3 pb-1">
                    <i class="material-symbols-outlined">mail</i>
                    <input type="text" class="input-mail" placeholder="Email" pInputText />
                </span>
        
                <p-button (click)="redirectToLoginPage()" class="home-button1" label="Reset Password"></p-button>
            </div>

        </div>
        
        <div class="flex flex-row justify-content-center pt-2">
            <p>
                Go back to
                <a (click)="redirectToLoginPage()">Login</a>
            </p>
        </div>

    </div>

    <div class="w-8">
        <div class="flex flex-row justify-content-center">
            <img src="../../../../assets/images/forgot-pwd.svg" />
        </div>
    </div>
</div>