<div class="pt-5 pl-5 pr-5 w-10rem">
    <p-button styleClass="flex justify-content-center w-10rem h-6rem border-round-2xl" (click)="redirectToCreateFlashcardSet()">
        <i class="pi pi-plus" style="font-size: 2.2rem; font-weight: bold;"></i>
    </p-button>
</div>
<div class="flex flex-row justify-content-between pt-5 pl-5 pr-5">
    <span class="title align-self-center">My sets</span>
    <div class="flex flex-column">
        <p-dropdown [options]="modesVisibilite" [(ngModel)]="selectedModeVisibilities" (onChange)="onVisibilityChange($event)" optionLabel="name" class="align-self-end"></p-dropdown>
        <div class="flex flex-row align-items-center pt-3 gap-3">
            <img [src]="imageInformation" class="w-1rem h-1rem"/>
            <span class="font-medium">Hit to have more informations</span>
        </div>
    </div>
</div>
<app-cardset class="flex" [isLikedMode]="isLikedMode" [displayedCardsets]="displayedCardsets"></app-cardset>
<div class="flex flex-column align-items-center pt-7">
    <p-toast></p-toast>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" class="mt-2"></p-paginator>
    <p-progressBar [value]="progressPercentage" styleClass="w-30rem"></p-progressBar>
    <span class="text">{{currentPage}} / {{totalPages}}</span>
</div>
<div class="flex pt-5 pl-5">
    <span class="title">My liked sets</span>
</div>
<div class="pt-5">
    <app-cardset [isLikedMode]="!isLikedMode"></app-cardset>
</div>

