:host ::ng-deep {

    .p-button {
        border-radius: 50%;
        background-color: #8A61E0;
        color: white;
        border: #8A61E0;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .section__reponse{
        background-color: #8A61E0;
        color: white;
        border: 1px solid black;
    }

    .heart{
        background-color: red;
    }

    .pi.pi-heart{
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .button-like{
        border: none;
        border-radius: 50%;
        padding: 5px 5px 1px 5px;
    }
}

// Media queries
@media (max-width: 750px) {
    .title{
        font-size: 10px;
    }
}

.title{
    font: 10px;
}

