<div class="flex flex-row header-container align-items-center justify-content-between pl-1 md:pl-5 pr-1 md:pr-5">
  <a class="flex flex-row align-items-center sm:gap-3 cursor-pointer" (click)="redirectToHomePage()">
    <img [src]="imageLogo" alt="Logo AnswerZ" class="logo" />
    <span class="text-lg md:text-2xl h-full text-white font-bold">Answerz</span>
  </a>
  <div class="flex gap-7" *ngIf="showButtons">
    <p-button styleClass="menu">Flashcards</p-button>
    <p-button styleClass="menu">Quizzes</p-button>
  </div>
  <div class="flex flex-cloumn button-header-container">
    <p-button styleClass="login" label="Login" (onClick)="redirectToLoginPage()"></p-button>
    &nbsp;
    <p-button styleClass="login" label="Register" (onClick)="redirectToRegisterPage()"></p-button>
  </div>
</div>
