<div class="p-8">
    <div class="w-10rem container-create-quiz">
        <p-button styleClass="flex justify-content-center w-10rem h-6rem border-round-2xl mb-2" (click)="createQuiz()"
                  >
            <i class="pi pi-plus" style="font-size: 2.2rem; font-weight: bold;"></i>
        </p-button>
        <div class="text-center text-sm text-create-quiz">Create your own <br> template</div>
    </div>
    <div class="grid pt-6">
        <div class="col-12 mb-4">
            <span class="title">Your quiz</span>
        </div>
        <div
             class="col-3 bg-blue-300 mr-4 border-round-3xl h-8rem text-white
                flex justify-content-center align-items-center">
            <p-button styleClass="" >
                <!-- <i class="pi pi-plus" style="font-size: 2.2rem; font-weight: bold;"></i> -->
            </p-button>
        </div>
    </div>
</div>